doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title TODO LIST
  body
    h1 一覧
    form(method="post" action=path)
      span やること
      input(type="text" name="name")
      span 期限
      input(type="text" name="name")
      
      button(type="submit") 登録