/* reset css*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
   font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

/* resetcssここまで */

.all{
  width: 100%;
}

header{
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.header_left{
  width: 180px;
  height: 64px;
  display: flex;
  align-items: center;
}
.header_logo{
  width: 100px;
}
header p{
  font-size: 9px;
}

.header_right{
  margin-top: 10px;
}

.header_btn{
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 172px;
  height: 40px;
  border: solid 0px #6091d3;/*線*/
  border-radius: 40px;/*角の丸み*/
  /* グラデーション */
  font-weight: normal;background-image: -webkit-linear-gradient(left, #ff3cac 40%, #562b7c 100%);
  background-image: linear-gradient(90deg, #137DC4 40%, #38C7F9 100%);
  font-size: 16px;
   /* 縦横中央揃え */
   text-align: center;
   line-height: 40px;
}

body{
  background-color: #F5F5F8;
}
.contents{
  display: flex;
  margin: 20px 5% 0 5%;
}
.contents_left{
  display: inline-block;
  width: 50%;
  margin-right: 10px;
}

.contents_right{
  display: flex;
  width: 50%;
  margin-left: 10px;
}

.time {
  width: 100%;
  height: 20%;
  display: flex;
  margin-bottom: 20px;
  height: fit-content;
}

.time_number{
  color: black;
  font-size: 30px;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.time_title{
  margin: 10px 0 10px 0;
  color: #0E71BC;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.time_hour{
  margin: 10px 0 10px 0;
  color: #9BBDD3;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.today {
  border-radius: 10px;/*角の丸み*/
  width: 33%;
  height: fit-content;
  background-color: white;
}

.month {
  margin: 0px 20px 0px 20px;
  border-radius: 10px;/*角の丸み*/
  width: 33%;
  height: fit-content;
  background-color: white;
}
.total {
  border-radius: 10px;/*角の丸み*/
  width: 33%;
  height: fit-content;
  background-color: white;
}

.bargraph {
  text-align: center;
  display: inline-block;
  height: fit-content;
}

.bargraph img{
  width: 100%;
  border-radius: 10px;/*角の丸み*/
}

/* ここから円グラフCSS */
.piechart_title{
  margin: 30px 0 20px 20px;
}
.piechart_left{
  width: 50%;
  margin-right: 20px;
  border-radius: 10px;/*角の丸み*/
  background-color: white;
}

.piechart_left img{
  width: 100%;
  margin-bottom: 5px;
}

.piechart_right{
  width: 50%;
  border-radius: 10px;/*角の丸み*/
  background-color: white;
}

.piechart_right img{
  width: 100%;
  margin-bottom: 5px;
}


#color1754EF{
  background-color: #1754EF;
}
#color1071BD{
  background-color: #1071BD;
}
#color20BEDE{
  background-color: #20BEDE;
}
#color3CCEFE{
  background-color: #3CCEFE;
}
#colorB29EF3{
  background-color: #B29EF3;
}
#color6D46EC{
  background-color: #6D46EC;
}
#color4A18EF{
  background-color: #4A18EF;
}
#color3105C0{
  background-color: #3105C0;
}

.piechart_right img{
  width:100%;
}

#ccolor1754EF{
  background-color: #1754EF;
}
#ccolor1071BD{
  background-color: #1071BD;
}
#ccolor20BEDE{
  background-color: #20BEDE;
}

.study_lng_clm{
  display: flex;
  margin-bottom: 15px; 
}
.study_item{
  display: flex;
}
.study_item span{
  color: #6A6A6A;
}

.circle{
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin: 0 3px 0 9px;
}
/* ここまで円グラフCSS */

/* フッターCSS */
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5%;
  margin-top: 40px;
}

footer p{
  margin: 0 20px 0 20px;
  font-size: 15px;
  font-weight: bold;
}
.footer_btn{
  color: #96B8D0;
  font-weight: bold;
}

.footer_btn:hover{
  color: #1471BC;
}

* {
  box-sizing: border-box;
}
body {
  font-family:'Avenir','Helvetica, Neue','Helvetica','Arial';
  height: 5000px;
}

/* モーダルCSSここから */
.modalArea {
  visibility: hidden; /* displayではなくvisibility */
  opacity : 0;
  position: fixed;
  z-index: 10; /* サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .4s;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  height: 70%;
  padding: 50px 30px;
  background-color: #fff;
  border-radius: 30px;/*角の丸み*/
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

.is-show { /* モーダル表示用クラス */
  visibility: visible;
  opacity : 1;
}
/* モーダルCSSここまで */


/* 以下ボタンスタイル */
button {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #282828;
  border-radius: 2px;
  cursor: pointer;
}

/* モーダル見た目 */
.modalContents{
  display: flex;
  
}
.modal_left{
  width: 50%;
  height: 90%;
}

.modal_day{
  width: 100%;
  height: 80px;
}

.modal_day input{
  background-color: #F5F5F8;
  border: none;
  border-radius: 3px;
  width: 90%;
  height: 50px;
}

.modal_contents{
  width: 100%;
  height: 30%
}

.modal_lng{
  width: 100%;
  height: 50%
}

.modal_right{
  width: 50%;
  height: 90%;
}

.modal_hour input{
  background-color: #F5F5F8;
  border: none;
  border-radius: 3px;
  width: 90%;
  height: 50px;
}

.modal_twitter textarea{
  background-color: #F5F5F8;
  border: none;
  border-radius: 3px;
  width: 90%;
  height: 50px;
}

.modal_btn{
  border: solid 0px #6091d3;/*線*/
  border-radius: 30px;/*角の丸み*/
  /* グラデーション */
  font-weight: normal;background-image: -webkit-linear-gradient(left, #ff3cac 40%, #562b7c 100%);
  background-image: linear-gradient(90deg, #137DC4 40%, #38C7F9 100%);
  font-size: 18px;
   /* 縦横中央揃え */
   text-align: center;
   line-height: 50px;
}