/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.left {
width: 50%;
}

.box {
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
    height: 30%;
}

.box1 {
    background: #ffffff; 
    /* width: 168px;
     */
    text-align: center;
    /* padding-top: ; */
    /* padding-right: ; */
    margin-right: 10px;
    width: 30%;
    height: 119px;
    border-radius: 10px;
}

.box2 {
    background-color: #ffffff; 
    text-align: center;
    /* width: 168px;
     */
    margin-right: 10px;
    width: 30%;
    height: 119px;
    border-radius: 10px;
}

.box3 {
    background: #ffffff; 
    text-align: center;
    /* width: 168px;
     */
    width: 30%;
    height: 119px;
    border-radius: 10px;
}

.right {
    /* float: right; */
    width: 50%;
    display: flex;
    margin: 20px;
}

.right_1 {
    width: 38%;
    background: #ffffff;
    margin-right: 20px;
}

.content{
    width: 50%;
    background: #ffffff;
    width: 255px;
}

.content_1{
display: flex;

}

.content_2{
display: flex;
height: ;

}

.content_3{
display: flex;
}

.content_4{
    width: 240px;
}

.graph img{
    /* width: 70%;
    height: 70%;
    margin-top:20px ;
    margin-left: 20px;  */
    width: 88%;
    height: auto;
    padding-left: 3%;
    border-radius: 6px;
}

.ennguraff {
    width: 263px;
    margin-right: auto;
}

.top {
    padding-left: 40px;
    padding-bottom: 21px;
    padding-right: 21px;
    padding-top: 21px;
    height: 20px; 
    display: flex;
    justify-content: space-between;
}

.main {
 /* width: 1294px; */
    display: flex;
    background-color: #F5F5F8;
}

.foot {
text-align: center;
}

.kind {
    background: #ffffff; 
    width: 255px;
    margin: auto;
}

.circle{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: skyblue;
    /* display: flex; */
}

.lang {
    display: inline-block;
}

.kind2 {
   
}

* {
    box-sizing: border-box;
}
body {
    font-family:'Avenir','Helvetica, Neue','Helvetica','Arial';
}


  /* モーダルCSS */
.modalArea {
    /* display: none; */
    position: fixed;
    z-index: 10; /*サイトによってここの数値は調整 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 70%;
    max-width: 900px;
    height: 450px;
    padding: 10px 30px;
    background-color: #fff;
}

.closeModal {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
}


  /* 以下ボタンスタイル */
button {
    padding: 10px;
    background-color: #1177BF; 
    border: 1px solid #282828;
    border-radius: 2px;
    cursor: pointer;
}

#openModal {
    /* position: absolute; */
    /* top: 5%; */
    /* left: 90%; */
    transform:translate(-50%,-50%);
    /* margin-top: 10px; */
    margin-right: 20px;
    width: 100px;

}

.hour{
    margin-top: 30px;
    margin-bottom: auto;
}

.check{
    border-radius: 5px;
    background: slategray;
}

.modalContents{
    display: flex;
    height: 80%;
}

.modal{
    display: ;
    width: 50%;
    }

.modal_1{
    width: 50%;
    display: ;
}

.days{
    background: #F5F4F9;
    width: 130px;
    border-radius: 20px;
}

.item_2{
    height: 40px;
    background: #F5F4F9;
}

.item_3{
    
}

.item_4{
    width: auto;
    height: 120px;
    background: #F5F4F9;
}

.item_6{
    width: 70%;
    background: #31B8EF;
    :;
}

.check{
    background:  #F5F4F9;
    width: ;
}

.check_dot{
    
    width: 170px;
}

.check_posse{
    width: 120px;
}

.modal_left{
    /* display: flex;   */
}

.week{
    color: #A8C4D8;
}

.modalWrapper
{
    border-radius: 20px;
}

* {
	float: none;
	position: static;
}
 
img {
	max-width: 100%;
	height: auto;
}

@media screen and (min-width:481px) {
	.sp{
		display: none;
	}
}
@media screen and (max-width:480px) {
	.pc{
		display: none;
	}
}